{% extends "base.html" %}
{% block title %}
  Create
{% endblock %}
{% block content %}
<div style="display: flex; justify-content:center;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        {{form.as_p}}
        {% if form.instance.pk %}
          <button class="btn btn-success" type="submit">Edit</button>
        {% else %}
        <button class="btn btn-primary" type="submit">Create</button>
        {% endif %}
    </form>
</div>
{% endblock %}