{% extends "base.html" %}
{% block title %}
  Login
{% endblock %}
{% block content %}
    <div style="justify-content: center; display:flex;">
        <form action="" method="post">
            {% csrf_token %}
            <h1>Login</h1>
        <div>
            <label for="{{form.username.id_for_label}}">Uername</label> <br>
            <input style="width: 7cm;" type="text" id="{{form.username.id}}" name="{{form.username.name}}" placeholder="Enter your Username "> <br>
            <span style="color: red;">{{form.username.errors}}</span><br>
        </div>

        <div>
            <label for="{{form.password.id_for_label}}">Password</label> <br>
            <input style="width: 7cm;" type="password" id="{{form.password.id}}" name="{{form.password.name}}" placeholder="Enter your Password "> <br>
            <span style="color: red;">{{form.password.errors}}</span> <br>
        </div> 
        
        <div>
            Create new account? <a href="{% url 'register' %}">go</a>
        </div>

        <div>
           <br> <button class="btn btn-success" type="submit">Login</button>
        </div>
        </form>
    </div>
{% endblock %}